<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="<%= title %>">

  <meta name="author" content="Harikesh Kumar">
  <meta name="description"
    content="The website has thousands of song with album and artists. You can browse them and even listen to a 30 Second preview">
  <meta name="Keywords"
    content="HTML, CSS, JavaScript, azure, bootstrap, nodejs, express, ejs, scraping, spotify, music, song, genre, album, artist, aws, mysql, <%= title %>, responsive, crud, rest, restful">
  <meta property="og:description"
    content="The website has thousands of song with album and artists. You can browse them and even listen to a 30 Second preview">
  <meta property="og:image" content="https://bucketforbookgallery.s3.ap-south-1.amazonaws.com/images/music-web.jpg">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <title>
    <%= title %>
  </title>
</head class="bg-transparent">

<body>