<!-- THE HAED -->
<%- include('partials/head', {title})%>
    <!-- THE NAV -->
    <%- include('partials/nav')%>
        <!-- THE BODY -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-12 pt-5">
                    <h2>Opps! The album could not be found.</h2>
                    <p class="lead">Please choose some other album. Inconvenience is regretted.
                    </p>
                </div>
            </div>
        </div>
        <%- include('partials/footer')%>