<!-- THE HAED -->
<%- include('partials/head', {title})%>
  <!-- THE NAV -->
  <%- include('partials/nav')%>
    <!-- THE BODY -->
    <!-- <div class="container"> -->
    <div class="container">
      <h1 class="text-center py-3 heading">Music!</h1>
      <blockquote class="blockquote text-center">
        <p class="mb-0 ">
        <blockquote class="blockquote text-center">
          <p class="mb-0 text-primary">“Without music, life would be a mistake.”</p>
          <footer class="blockquote-footer"><cite title="Source Title">Friedrich Nietzsche
            </cite></footer>
        </blockquote>
        <!-- <blockquote class="blockquote text-center">
          <p class="mb-0 text-primary">“The person, be it gentleman or lady, who has not pleasure in a good novel,
            must be
            intolerably stupid.”</p>
          <footer class="blockquote-footer">Jane Austen in <cite title="Source Title">Northanger Abbey
            </cite></footer>
        </blockquote>
        <blockquote class="blockquote text-center">
          <p class="mb-0 text-primary ">“So many books, so little time.”</p>
          <footer class="blockquote-footer"><cite title="Source Title">Frank Zappa
            </cite></footer>
        </blockquote> -->

    </div>

    <!-- THE FOOTER -->
    <%- include('partials/footer')%>